/node_modules
/build
/truffle.js
/package-lock.json
/package.json
/contracts
/test
/migrations
/truffle-config.js
*Interface*
!/tests/abi/BatteryManagementInterface.sol
!/tests/abi/ManagementContractInterface.sol
/src/contracts/ServiceProviderWallet.sol
.idea*
/commit.sh
